@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Search for Flight Details</div>
    <div class="panel-body">

        <div ng-app="flightGateApp" ng-controller="gateCtrl">

            <form class="form-inline">
                <div class="form-group">
                    <label for="gateSelect">Select Gate</label>
                    <select class="form-control" name="gateSelect" id="gateSelect" ng-model="selectedGate">
                        <option ng-repeat="g in gates" value="{{g.Id}}">{{g.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dateSelect">Select Date</label>
                    <input class="form-control" id="dateSelect" type="date" ng-model="selectedDate"/>
                </div>
                <button class="btn btn-primary" style="margin-top: 25px" ng-click="searchFlightDetails()">Search</button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th>Flight Name</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in flightDetails">
                    <td>{{d.Flight.Name}}</td>
                    <td>{{d.ArrivalTime}}</td>
                    <td>{{d.DepartureTime}}</td>
                    <td><a href="/Home/EditFlight">Edit</a></td>
                    <td><a href="/Home/CancelFlight">Cancel</a></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/gate-controller.js")
}