<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Edit Flight Details</div>
    <div class="panel-body">

        <div ng-app="gateApp" ng-controller="gateEditCtrl" ng-init="flightDetailId='@Html.Raw(ViewBag.FlightDetailId)'">

            <div ng-show="successMessage != null" class="alert alert-success">
                {{successMessage}}
             </div>

            <div ng-show="errorMessage != null" class="alert alert-danger">
                {{errorMessage}}
            </div>

            <form class="form" ng-submit="saveFlightDetail()" name="frmNewFlightDetail" class="form">
                <div class="form-group">
                    <label for="gateSelect">Select Gate</label>
                    <select class="form-control" name="gateSelect" id="gateSelect" ng-model="selectedGate" ng-selected="selectedGate">
                        <option ng-repeat="g in gates" value="{{g.Id}}">{{g.Name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="gateSelect">Select Flight</label>
                    <select class="form-control" name="flightSelect" id="flightSelect" ng-model="selectedFlight">
                        <option ng-repeat="f in flights" value="{{f.Id}}">{{f.Name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="dateArrivalSelect">Select Arrival Date Time</label>
                    <div class="form-inline">
                        <input class="form-control input-small " id="dateArrivalSelect" type="text" ng-model="selectedArrivalDate" jqdatepicker />
                        <input class="form-control input-small " id="dateArrivalSelectTime" type="text" ng-model="selectedArrivalTime" jqtimepicker />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateDepartureSelect">Select Departure Date Time</label>
                    <div class="form-inline">
                        <input class="form-control input-small " id="dateDepartureSelecttime" type="text" ng-model="selectedDepartureDate" jqdatepicker />
                        <input class="form-control input-small " id="dateDepartureSelect" type="text" ng-model="selectedDepartureTime" jqtimepicker />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button ng-click="cancelFlight()" class="btn btn-danger" type="button">Cancel Flight</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
