div.time-picker {
    position: absolute;
    height: 200px;
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
    overflow-x:hidden;
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

div.time-picker li {
    cursor: pointer;
    width: 148px;
    overflow-x:hidden;
}
